<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Exercise List</title>
</head>
<body>

<h2>Exercise List</h2>

<ul th:each="exercise : ${exerciseList}">
    <li>
        <strong th:text="${exercise.name}"></strong><br>
        Type: <span th:text="${exercise.type}"></span><br>
        <div th:if="${workoutID != null}">
            <form action="/exercises/addExerciseToWorkout" method="post">
                <input type="hidden" name="workoutID" th:value="${workoutID}">
                <input type="hidden" name="exerciseID" th:value="${exercise.eID}">
                <div th:if="${exercise.getType().equalsIgnoreCase('bodybuilding')}">
                    Reps: <input type="number" name="reps">
                    Sets: <input type="number" name="sets">
                    Weight: <input type="number" name="weight">
                </div>
                <div th:if="${exercise.getType().equalsIgnoreCase('cardio')}">
                    Time: <input type="number" name="time">
                </div>
                <button type="submit">Add Exercise To Workout</button>
            </form>
        </div>
    </li>
</ul>
<a href="/exercises/addExercise">Add exercise</a>

</body>
</html>
