<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Add your CSS styles or link to an external stylesheet here -->
    <link rel="stylesheet" href="css/homeStyle.css">
</head>
<body>



<div class="appbar">

    <a href="/home">FitnessTrackingApp</a>
    <a href="/logoutt">Logout</a>
    <a href="/profile">Profile</a>
    <a href="/workouts">Workouts</a>
    <a href="/exercises">Exercises</a>
    <a href="/meals">Meals</a>
    <a href="/ingredients">Ingredients</a>
</div>

<div class="content">
    <!-- Your home page content goes here -->
    <h2>Welcome to FitnessTrackingApp!</h2>
    <p>This is the home page content.</p>
</div>

</body>
</html>
