<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ingredient List</title>
</head>
<body>

<h2>Ingredient List</h2>

<ul th:each="ingredient : ${ingredientList}">
    <li>
        <strong th:text="${ingredient.name}"></strong><br>
        Per 100 g <br>
        Calories: <span th:text="${ingredient.calories}"></span><br>
        Protein: <span th:text="${ingredient.protein}"></span><br>
        Fats: <span th:text="${ingredient.fats}"></span><br>
        Carbs: <span th:text="${ingredient.carbs}"></span><br>


        <div th:if="${mealID != null}">
            <form action="/ingredients/addIngredientToMeal" method="post">
                <input type="hidden" name="mealID" th:value="${mealID}">
                <input type="hidden" name="ingredientID" th:value="${ingredient.iID}">

                Quantity: <input type="number" name="quantity">



                <button type="submit">Add Ingredient to Meal</button>
            </form>
        </div>

    </li>
</ul>
<a href="/ingredients/addIngredient">Add ingredient</a>

</body>
</html>
