<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <!-- Add any additional styling or CSS links here -->
    <link rel="stylesheet" type="text/css" href="css/profileStyle.css">
</head>
<body>

<h1>User Profile</h1>

<div>
    <label>Name:</label>
    <span id="name"><th:block th:text="${session.user.getName()}"></th:block></span>
</div>

<div>
    <label>Age:</label>
    <span id="age"><th:block th:text="${session.user.getAge()}"></th:block></span>
</div>

<div>
    <label>Height:</label>
    <span id="height"><th:block th:text="${session.user.getHeight()}"></th:block></span>
</div>

<div>
    <label>Weight:</label>
    <span id="weight"><th:block th:text="${session.user.getWeight()}"></th:block></span>
</div>


</body>
</html>
