<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workouts List</title>
</head>
<body>

<h2>Workouts List</h2>

<ul th:each="workout : ${workoutList}">
    <li  th:text="${workout.name}"></li>
    <a th:href="@{/exercises/{workoutID}(workoutID=${workout.wID})}" type="button">Add Exercise</a>
</ul>

<a href="/workouts/addWorkout" type="button">Add workout</a>

</body>
</html>
